.test{
    background-color: antiquewhite;
    max-width: 50%;
    border-radius: 10PX;
    font-size: 30PX;
    margin-top: 20px;
    margin-left: 100px;
}
.test2{
    background-color: antiquewhite;
    max-width: 50%;
    border-radius: 10PX;
    font-size: 30PX;
    margin-top: 20px;
    margin-left: 100px;
}
.test3{
    background-color:antiquewhite;
    max-width: 50%;
    border-radius: 10PX;
    font-size: 30PX;
    margin-top: 20px;
    margin-left: 100px;
}
.test4{
    background-color:antiquewhite;
    max-width: 50%;
    border-radius: 10PX;
    font-size: 30PX;
    margin-top: 20px;
    margin-left: 100px;
}
.test5{
    background-color: antiquewhite;
    max-width: 50%;
    border-radius: 10PX;
    font-size: 30PX;
    margin-top: 20px;
    margin-left: 100px;
}
body{
    background-color: antiquewhite;
}
.form {
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 50%;
    width: 600px;
    height: 650px;
    align-items: center;
    display: flex;
    margin-top: 5%;
    box-shadow: 0px 13px 19px 10px rgba(0, 0, 0, 0.07);
    flex-direction: column;
    background-color: #5a2c34;


}
.test1{
    font-size: 20px;
    background-color: rgb(226, 241, 12);
    border-radius: 10px;
}
a {
    text-decoration: none;
  }
  .text{
    font-size: 30px;
    color: #5a2c34;
    font-weight: 5px;
    margin-top: 60px;
    font-weight: bold;
  }




